#contactus label{
    font-size: 2rem;
    font-weight: 300;
}

input[type="text"], input[type="email"], textarea#textareaInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--bs-border-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, input[type="email"]:focus, textarea#textareaInput:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::placeholder, textarea::placeholder{
    font-size: 2rem;
    font-weight: 300;
}
input:focus::placeholder, 
textarea:focus::placeholder {
    color: transparent;
}