<footer class="text-center text-lg-start custom-footer-bg text-muted">
    <section class="social-top d-flex justify-content-center justify-content-lg-between p-4 border-bottom border-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto text-center text-md-start">
                    <span class="fw-bold text-dark">{{'FOOTER.TITLE' | translate}}</span>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto text-center text-md-end mt-3 mt-md-0">
                    <a href="" class="social-link me-4"><i class="bi bi-facebook"></i></a>
                    <a href="" class="social-link me-4"><i class="bi bi-instagram"></i></a>
                    <a href="" class="social-link"><i class="bi bi-twitter-x"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-2">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                       Crazydog Customs
                    </h6>
                    <p class="small">
                        {{'FOOTER.MOTTO' | translate}}
                    </p>
                </div>

                <!--<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 footer-nav">
                    <h6 class="text-uppercase fw-bold mb-4">{{'FOOTER.PRODUCTS' | translate}}</h6>
                    <p><a href="#!" class="text-reset">{{'FOOTER.SHOES' | translate}}</a></p>
                    <p><a href="#!" class="text-reset">{{'FOOTER.BRANDS' | translate}}</a></p>
                    <p><a href="#!" class="text-reset">{{'FOOTER.MATERIALS' | translate}}</a></p>
                </div>-->

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 footer-nav">
                    <h6 class="text-uppercase fw-bold mb-4">{{'FOOTER.USEFUL' | translate}}</h6>
                    <p><a href="/privacy-policy" class="text-reset">{{'FOOTER.PRIVACY' | translate}}</a></p>
                    <p><a href="/imprint" class="text-reset">{{'FOOTER.IMPRESSUM' | translate}}</a></p>
                    <p><a href="#!" class="text-reset">{{'FOOTER.DELIVERY' | translate}}</a></p>
                    <p><a href="#!" class="text-reset">{{'FOOTER.GUARANTEE' | translate}}</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact-links">
                    <h6 class="text-uppercase fw-bold mb-4">{{'FOOTER.CONTACT' | translate}}</h6>
                    <p><i class="bi bi-house-door me-2 text-orange"></i> Linz, Oberösterreich 4010 AT</p>
                    <p><i class="bi bi-envelope me-2 text-orange"></i> info&#64;crazydogcustom.com</p>
                    <p><i class="bi bi-telephone me-2 text-orange"></i> +43 660 1234567</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4 copyright-bar">
        © {{ currentYear }} Copyright:
        <a class="text-orange fw-bold text-decoration-none" href="https://crazydogcustoms.com/">crazydogcustoms.com</a>
    </div>
</footer>