
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="social d-flex justify-content-center justify-content-lg-between p-4 border-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
                <span>Get connected with us on our social networks:</span>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto text-md-end mt-sm-4 mt-md-0">
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Crazydog Customs</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>


                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Shoes</a></p>
                    <p><a href="#!" class="text-reset">Brands</a></p>
                    <p><a href="#!" class="text-reset">Materials</a></p>
                    
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful Information</h6>
                    <p><a href="#!" class="text-reset">Privacy & Policy</a></p>
                    <p><a href="#!" class="text-reset">Delivery Information</a></p>
                    <p><a href="#!" class="text-reset">Garantee</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="bi bi-house"></i> Linz, Oberösterreich 4010 AT</p>
                    <p><i class="bi bi-envelope"></i> info&#64;crazydogcustom.com</p>
                    <p><i class="bi bi-telephone"></i> +43 660 1234567</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2025 Copyright:
        <a class="text-reset fw-bold" href="https://crazydogcustoms.com/">crazydogcustoms.com</a>
    </div>
    <!-- Copyright -->
</footer>