nav {
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px)
}
.navlogo img{
    width: 120px;
}

.nav-link {
    color: var(--primary-black);
}

.nav-link:focus, .nav-link:hover{
    color: var(--primary-lila);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary-bg-color);
    background-color: var(--primary-yellow);
}

@media (max-width: 768px) {
    .navlogo{
        display: none;
    }
    .navbar-nav {
        text-align: center;
    }

}