<app-header></app-header>

<section class="privacy-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row mb-5 px-3 px-md-5 section-heading">
          <div class="col-12 border-start border-orange border-4 ps-4">
              <h1 class="display-3 fw-bold">{{'PRIVACY.TITLE' | translate}}</h1>
          </div>
        </div>

        <div class="contact-card shadow-lg rounded-5 p-4 p-md-5 bg-white">
          <div class="card-body p-4 p-md-5">
            <div class="row">
              
              <div class="col-md-6 border-end-md">




              </div>

              <div class="col-md-6 ps-md-5 mt-5 mt-md-0">

              </div>

            </div> </div> </div> <div class="text-center mt-5">
          <button routerLink="/" class="btn btn-custom-orange btn-lg px-5 py-3 rounded-pill shadow">
          {{'PRIVACY.BUTTON_TEXT' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
<app-cookie-banner></app-cookie-banner>