<section #heroContainer class="hero-section">
  <div class="animation-wrapper">
    <div #centerElement class="center-piece-main">
      
    </div>
    <div #centerElement class="center-piece-painted">
      
    </div>
    
    <div class="flying-item swoosh"></div>
    <div class="flying-item upper"></div>
    <div class="flying-item laces"></div>
    <div class="flying-item midsole"></div>
    <div class="flying-item heelportion"></div>
    <div class="flying-item heel-tab"></div>
    <div class="flying-item outer-toe"></div>
    <div class="flying-item sock-liner"></div>
    <div class="flying-item tongue"></div>
    <div class="flying-item upper2"></div>
    <div class="flying-item middle"></div>
  </div>
</section>