.hero-section {
  height: 100vh;
  width: 100%;
  background: white;
  /*background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../../../../public/images/logo.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 33%;
  
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.animation-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-piece-main {
  background-image: url("../../../../public/images/af1.png");
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.center-piece-painted {
  background-image: url("../../../../public/images/painted.png");
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: none;
}

.flying-item {
  position: absolute;
  font-size: 4rem;
  z-index: 15;
}

.top-left{
  background-image: url("../../../../public/images/woosh.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.top-right{
  background-image: url("../../../../public/images/upper.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.bottom-left{
  background-image: url("../../../../public/images/middle.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.bottom-right{
  background-image: url("../../../../public/images/toe.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.next-content {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}