<section id="order" class="order-cta-section d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-center text-md-start">
                <h2 class="display-3 fw-bold text-white mb-3">{{'ORDER.TITLE' | translate}}</h2>
                <p class="lead text-white-50 fs-4 mb-0">{{'ORDER.SUBTITLE' | translate}} <br class="d-none d-md-block"></p>
            </div>
            <div class="col-md-4 text-center text-md-end mt-5 mt-md-0">
              <button (click)="openModal()" class="btn-glow-orange px-5 py-4 rounded-pill fw-bold position-relative overflow-hidden">
                  <span class="btn-text">{{'ORDER.BUTTON' | translate}}</span>
              </button>
            </div>
        </div>
    </div>
</section>

<div class="modal fade custom-modal" id="quoteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-5 overflow-hidden">
            <div class="modal-header border-0 pb-0 pe-4 pt-4">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 p-md-5 pt-0">
                <div class="text-center mb-4">
                    <h2 class="fw-bold display-6">{{'QUOTEFORM.ACCORDION_TITLE' | translate}}</h2>
                    <p class="text-muted">{{'QUOTEFORM.ACCORDION_SUBTITLE' | translate}}</p>
                </div>
                <app-quote-form></app-quote-form>
            </div>
        </div>
    </div>
</div>