        <section class="hero-2 d-flex align-items-center justify-content-center text-white">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="hero-text py-5">
                            <h1 class="display-1 fw-normal mb-4">Are you interested?</h1>
                            <p class="lead display-6 mb-5">Contact us or</p>
                            <div class="d-flex gap-3 justify-content-center">
                                <button class="btn btn-dark btn-lg">
                                    <i class="fas fa-rocket me-2"></i>
                                    Request a quote
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>