.order {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../../../../public/images/products/labubu-v1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    height: 100vh
}

.modal-title{
    font-size: 2rem;
    font-weight: 400;
}