<div [formGroup]="parentForm">
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control"
            [class.is-invalid]="isFieldInvalid('firstName')"
            placeholder="{{ 'CLIENTINFO.FIRSTNAME' | translate }}" formControlName="firstName">
            @if (isFieldInvalid('firstName')) {
                <div class="invalid-feedback">
                    @if (parentForm.get('firstName')?.errors?.['required']) { 
                        {{ 'CLIENTINFO.FIRSTNAME' | translate }} {{ 'CLIENTINFO.ISREQUIRED' | translate }}. 
                    } @else { 
                        {{ 'CLIENTINFO.PLEASEENTER' | translate }} {{ 'CLIENTINFO.FIRSTNAME' | translate }}. 
                    }
                </div>
            }
        </div>
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" 
            [class.is-invalid]="isFieldInvalid('lastName')"
            placeholder="{{ 'CLIENTINFO.LASTNAME' | translate }}" formControlName="lastName">
            @if (isFieldInvalid('lastName')) {
                <div class="invalid-feedback">
                    @if (parentForm.get('lastName')?.errors?.['required']) { 
                        {{ 'CLIENTINFO.LASTNAME' | translate }} {{ 'CLIENTINFO.ISREQUIRED' | translate }}. 
                    } @else { 
                        {{ 'CLIENTINFO.PLEASEENTER' | translate }} {{ 'CLIENTINFO.LASTNAME' | translate }}. 
                    }
                </div>
            }
        </div>
        <div class="col-md-6 mb-3 middle-name">
            <input type="text" class="form-control" 
            placeholder="middle Name" formControlName="middleName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="email" class="form-control"
            [class.is-invalid]="isFieldInvalid('email')"
            placeholder="{{ 'CLIENTINFO.EMAIL' | translate }}" formControlName="email">
            @if (isFieldInvalid('email')) {
                <div class="invalid-feedback">
                    @if (parentForm.get('email')?.errors?.['required']) { 
                        {{ 'CLIENTINFO.EMAIL' | translate }} {{ 'CLIENTINFO.ISREQUIRED' | translate }}. 
                    } @else {
                        {{ 'CLIENTINFO.PLEASEENTER' | translate }} {{ 'CLIENTINFO.EMAIL' | translate }}.
                    }
                </div>
            }
        </div>
        <div class="col-md-6 mb-3">
            <input type="tel" class="form-control"
            [class.is-invalid]="isFieldInvalid('phone')"
            placeholder="{{ 'CLIENTINFO.PHONE' | translate }}" formControlName="phone">
            @if (isFieldInvalid('phone')) {
                <div class="invalid-feedback">
                    @if (parentForm.get('phone')?.errors?.['required']) { 
                        {{ 'CLIENTINFO.PHONE' | translate }} {{ 'CLIENTINFO.ISREQUIRED' | translate }}. 
                    } @else { 
                        {{ 'CLIENTINFO.PLEASEENTER' | translate }} {{ 'CLIENTINFO.PHONE' | translate }}. 
                    }
                </div>
            }
        </div>
    </div>
</div>