<div [formGroup]="parentForm">
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control"
            placeholder="First Name" formControlName="firstName">
        </div>
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" 
            placeholder="Last Name" formControlName="lastName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="email" class="form-control"
            placeholder="Email" formControlName="email">
        </div>
        <div class="col-md-6 mb-3">
            <input type="tel" class="form-control" 
            placeholder="Phone Number" formControlName="phone">
        </div>
    </div>
</div>