
@if (isSent) {
  <div class="row px-5 py-5 justify-content-center animate__animated animate__fadeIn">
    <div class="col-md-8 text-center">
      <div class="mb-4">
        <i class="bi bi-check-circle-fill text-success" style="font-size: 5rem;"></i>
      </div>
      <h2 class="display-4">{{ 'QUOTEFORM.GREETING' | translate }}</h2>
      <p class="lead text-muted">{{ 'QUOTEFORM.MESSAGE' | translate }}</p>
      <button class="btn btn-outline-secondary btn-lg mt-4" (click)="isSent = false">
        {{ 'QUOTEFORM.BUTTON_2' | translate }}
      </button>
    </div>
  </div>
}

@if (!isSent) {
<form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h5 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseShoeDetails">
          {{'QUOTEFORM.ACCORDION_TITLE1' | translate}}
        </button>
      </h5>
      <div id="flush-collapseShoeDetails" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div class="row">
            @for (item of productItems; track item.name) {
              <div class="col-md-4 mb-4">
                <div class="product-select" (click)="selectProduct(item.name)">
                  <img [src]="item.link" [alt]="item.name | translate" class="img-fluid mb-2 product-img">
                  
                  <div class="d-flex flex-column align-items-center">
                    <input class="form-check-input ms-0" 
                          type="radio" 
                          [id]="item.name | translate" 
                          [value]="item.value | translate" 
                          [checked]="quoteForm.get('shoeSource')?.value === item.value"
                          (change)="onProductSelect(item.name)"
                          formControlName="shoeSource">
                    <label [for]="item.name | translate" class="product-label">{{ item.name | translate }}</label>
                  </div>
                </div>
              </div>
            }
          </div>

          <div class="row mt-3 mb-3">
            <!-- Shoe Type Field -->
            <div class="col-md-6 mb-3">
              <label for="shoeType" class="form-label d-flex align-items-center fw-bold">
                {{'QUOTEFORM.SHOETYPE_LABEL' | translate}}
               <i class="bi bi-info-circle info-icon ms-2" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" 
                  data-bs-custom-class="custom-tooltip"
                  title="{{ 'QUOTEFORM.SHOETYPE_TOOLTIP' | translate }}">
                </i>
              </label>
              <input type="text" class="form-control"
              placeholder="{{ 'QUOTEFORM.SHOETYPE_PLACEHOLDER' | translate }}" 
              [class.is-invalid]="isFieldInvalid('shoeType')"
              formControlName="shoeType">
              @if (isFieldInvalid('shoeType')) {
                <div class="invalid-feedback d-block">
                  {{ getErrorMessage('shoeType') }}
                </div>
              }
            </div>

            <!-- Shoe Size Field -->
            <div class="col-md-6 mb-3">
              <label for="shoeSize" class="form-label d-flex align-items-center fw-bold">
                {{'QUOTEFORM.SHOESIZE_LABEL' | translate}}
                <i class="bi bi-info-circle info-icon ms-2" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" 
                  data-bs-custom-class="custom-tooltip"
                  title="{{ 'QUOTEFORM.SHOESIZE_TOOLTIP' | translate }}">
                </i>
              </label>
              <input type="text" class="form-control" 
              placeholder="{{ 'QUOTEFORM.SHOESIZE_PLACEHOLDER' | translate }}"
              [class.is-invalid]="isFieldInvalid('shoeSize')"
              formControlName="shoeSize">
              @if (isFieldInvalid('shoeSize')) {
                <div class="invalid-feedback d-block">
                  {{ getErrorMessage('shoeSize') }}
                </div>
              }
            </div>
          </div>
          
          <label for="upload" class="form-label d-flex align-items-center fw-bold">
            {{'QUOTEFORM.FILEUPLOAD_LABEL' | translate}}
            <i class="bi bi-info-circle info-icon ms-2" 
              data-bs-toggle="tooltip" 
              data-bs-placement="top" 
              data-bs-custom-class="custom-tooltip"
              title="{{ 'QUOTEFORM.FILEUPLOAD_TOOLTIP' | translate }}">
            </i>
          </label>
          <app-file-upload (filesChanged)="onFilesUploaded($event)"></app-file-upload>

          <label for="notes" class="form-label d-flex align-items-center fw-bold">
            {{'QUOTEFORM.TEXTAREA_LABEL' | translate}}
            <i class="bi bi-info-circle info-icon ms-2" 
              data-bs-toggle="tooltip" 
              data-bs-placement="top" 
              data-bs-custom-class="custom-tooltip"
              title="{{ 'QUOTEFORM.TEXTAREA_TOOLTIP' | translate }}">
            </i>
          </label>
          <div class="mb-3">
            <textarea class="form-control" rows="4" placeholder="{{ 'QUOTEFORM.TEXTAREA_PLACEHOLDER' | translate }}" formControlName="notes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h5 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDetails">
            {{ 'QUOTEFORM.ACCORDION_TITLE2' | translate }}
        </button>
      </h5>
      <div id="flush-collapseDetails" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <app-client-info [parentForm]="quoteForm"></app-client-info>
        
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h5 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBilling">
          {{ 'QUOTEFORM.ACCORDION_TITLE3' | translate }}
        </button>
      </h5>
      <div id="flush-collapseBilling" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <app-address-form [parentForm]="quoteForm" prefix="billing"></app-address-form>
          
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sameAsShipping" formControlName="sameAsShipping">
            <label class="form-check-label">{{ 'QUOTEFORM.ACCORDION_LABEL1' | translate }}</label>
          </div>
        </div>
      </div>
    </div>

    @if (!quoteForm.get('sameAsShipping')?.value) {
      <div class="accordion-item">
        <h5 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseShipping">
              {{ 'QUOTEFORM.ACCORDION_TITLE4' | translate }}
          </button>
        </h5>
        <div id="flush-collapseShipping" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <app-address-form [parentForm]="quoteForm" prefix="shipping"></app-address-form>
        </div>
      </div>
    </div>
    }


    <!-- Finalize Checkbox Fix -->
    <div class="mb-4 form-check">
      <label class="form-check-label" for="" style="font-size: 0.9rem;">
        {{ 'QUOTEFORM.FINALIZE_ORDER_TEXT1' | translate }}<br>
        {{ 'QUOTEFORM.FINALIZE_ORDER_TEXT2' | translate }}<br>
        {{ 'QUOTEFORM.FINALIZE_ORDER_TEXT3' | translate }}
      </label>
    </div>

    <!-- GDPR Checkbox Fix -->
    <div class="mb-4 form-check">
      <input type="checkbox" class="form-check-input" id="gdprConsent" formControlName="gdprConsent">
      <label class="form-check-label" for="gdprConsent" style="font-size: 0.9rem;">
         {{ 'QUOTEFORM.GDPR1' | translate }}<a href="/privacy-policy" target="_blank">{{ 'QUOTEFORM.GDPR2' | translate }}</a>
      </label>
      
      @if (quoteForm.get('gdprConsent')?.invalid && quoteForm.get('gdprConsent')?.touched) {
        <div class="text-danger small d-block mt-2">
          {{ 'QUOTEFORM.GDPR_WARNNG' | translate }}
        </div>
      }
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-5">
      <button type="button" class="btn-custom-blue" data-bs-dismiss="modal">
        <i class="bi bi-x-lg me-2"></i>{{ 'QUOTEFORM.BUTTON_3' | translate }}
      </button>
      <button type="submit" class="btn btn-custom-orange" [disabled]="isLoading || quoteForm.invalid">
        @if (isLoading) {
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          {{ 'QUOTEFORM.SENDING' | translate }}
        } @else {
          <i class="bi bi-send me-2"></i>{{ 'QUOTEFORM.BUTTON_1' | translate }}
        }
      </button>
    </div>
  </div>
</form>
}