<section id="products" class="products py-5">
    <div class="container">
        <div class="row mt-5 px-3 px-md-5">
            <div class="col-12">
                <h1 class="display-3">
                    Our Products<br>
                    <small class="display-5 text-muted">Break rules, wear style</small>
                </h1>
            </div>
        </div>

        <div class="row g-4 px-3 px-md-5 py-4">
            @for (item of productItems; track item.name) {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 product-card">
                    <div class="product-img-container">
                         <img [src]="item.link" class="card-img-top" [alt]="item.name">
                    </div>
                    <div class="card-body">
                        <h5 class="fw-bold">{{ item.name }}</h5> <p class="card-text text-muted">{{ item.desc }}</p>
                    </div>
                </div>
            </div>
            }            
        </div>
    </div>
</section>