<section id="products" class="products py-5 mi-vh-100">
    <div class="container">
        <div class="row mb-5 px-3 px-md-5 section-heading">
            <div class="col-12 border-start border-orange border-4 ps-4">
                <h1 class="display-3 fw-bold">{{'OURPRODUCTS.TITLE' | translate}}</h1>
                <p class="lead text-muted">{{'OURPRODUCTS.SUBTITLE' | translate}}</p>
            </div>
        </div>

        <div class="row g-4 px-3 px-md-5 py-4">
            @for (item of productItems; track item.name) {
            <div class="col-12 col-lg-4">
                <div class="card h-100 product-card">
                    <div class="product-img-container">
                         <img [src]="item.link" class="card-img-top" [alt]="item.name">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="fw-bold">{{ item.name | translate }}</h5>
                        <p class="card-text text-muted flex-grow-1 product-description">
                            {{ item.desc | translate }}
                        </p>
                        
                        <div class="product-badges d-flex flex-wrap gap-2 mt-3">
                            <span class="badge-item"><i class="bi bi-droplet"></i> {{ item.colors | translate }}</span>
                            <span class="badge-item"><i class="bi bi-brush"></i> {{ item.areas | translate }}</span>
                            <span class="badge-item"><i class="bi bi-layers"></i> {{ item.patterns | translate }}</span>
                            <span class="badge-item"><i class="bi bi-fonts"></i> {{ item.desing | translate }}</span>
                        </div>
                        <div class="col-12 text-center mt-4 mb-2">
                            <span class="price-tag col-4">{{ item.price }}€</span >
                        </div>
                    </div>
                </div>
            </div>
            }            
        </div>
    </div>
</section>