<div class="row mb-3" [formGroup]="parentForm">
    <div class="col-md-4">
        <select class="form-select" [formControlName]="prefix + 'Country'">
        <option value="Austria">{{'ADDRESSFORM.AUSTRIA' | translate}}</option>
        <option value="Germany">{{'ADDRESSFORM.GERMANY' | translate}}</option>
        <option value="Hungary">{{'ADDRESSFORM.HUNGARY' | translate}}</option>
        </select>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="{{'ADDRESSFORM.ZIPCODE' | translate}}" 
               [class.is-invalid]="isFieldInvalid('Zip')"
               [formControlName]="prefix + 'Zip'">
        @if (isFieldInvalid('Zip')) {
          <div class="invalid-feedback d-block">{{ getErrorMessage('Zip') }}</div>
        }
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="{{'ADDRESSFORM.CITY' | translate}}" 
               [class.is-invalid]="isFieldInvalid('City')"
               [formControlName]="prefix + 'City'">
        @if (isFieldInvalid('City')) {
          <div class="invalid-feedback d-block">{{ getErrorMessage('City') }}</div>
        }
    </div>
</div>
<div class="row mb-3" [formGroup]="parentForm">
    <div class="col-md-8">
        <input type="text" class="form-control" placeholder="{{'ADDRESSFORM.STREET' | translate}}" 
               [class.is-invalid]="isFieldInvalid('Street')"
               [formControlName]="prefix + 'Street'">
        @if (isFieldInvalid('Street')) {
          <div class="invalid-feedback d-block">{{ getErrorMessage('Street') }}</div>
        }
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="{{'ADDRESSFORM.HOUSE_NUMBER' | translate}}" 
               [class.is-invalid]="isFieldInvalid('HouseNumber')"
               [formControlName]="prefix + 'HouseNumber'">
        @if (isFieldInvalid('HouseNumber')) {
          <div class="invalid-feedback d-block">{{ getErrorMessage('HouseNumber') }}</div>
        }
    </div>
</div>