<div class="row mb-3">
    <div class="col-md-4">
        <select class="form-select" formControlName="billingCountry">
        <option value="Austria">Austria</option>
        <option value="Germany">Germany</option>
        <option value="Hungary">Hungary</option>
        </select>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Zip Code" formControlName="billingZip">
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="City" formControlName="billingCity">
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Street" formControlName="billingStreet">
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="House Number" formControlName="billingHouseNumber">
    </div>
</div>


