@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";

@import "@fontsource/material-icons";

:root {
    --primary-bg-color: #ffffff;
    --primary-lila: rgb(218, 10, 107);
    --primary-yellow: #f7b231;
    --primary-orange: #f78910;
    --primary-blue: #00a7b7;
    --secondary-blue: #0096A9;
    --primary-black: #010101;
    --primary-grey: #6c757d;
    --primary-grey-dark: #343a40;
    /*--primary-yellow: #FAE525;*/
    
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body {
    background-color: var(--primary-bg-color);
    /*font-family: "Roboto", sans-serif;*/
}

a{
    text-decoration: none;
}

.section-heading{
    padding-top: 90px;
}

.btn-custom-orange{
    background-color: var(--primary-orange);
    border: 3px solid var(--primary-orange);
    padding: 16px 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-custom-orange:hover {
    background-color: transparent;
    border: 3px solid #f7890e;
    color: #f7890e;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(247, 137, 14, 0.3);
}

.btn-custom-blue{
    background-color: transparent;
    border: 3px solid var(--primary-blue);
    padding: 16px 24px;
    color: var(--primary-blue);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-custom-blue:hover {
    background-color: var(--primary-blue);
    border: 3px solid var(--primary-blue);
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 167, 183, 0.302);
}

.border-orange {
    border-color: var(--primary-orange) !important;
}

.text-orange {
    color: var(--primary-orange);
}

section[id] {
    scroll-margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}